@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

html, body {
  font-family: 'DM Sans', sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


@layer utilities {
  .bg-home-gradient {
    background: linear-gradient(
      180deg,
      #070F07 0%,
      #001B00 74.52%,
      #000000 100%
    );
  }

   .glass {
    @apply relative overflow-hidden 
           backdrop-blur-[24px] 
           shadow-xl;
  }
}